<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Repositories -->
    <bean id="artistRepository"
          class="com.ximena.discografia.repository.ArtistRepositoryImpl"/>

    <bean id="trackRepository"
          class="com.ximena.discografia.repository.TrackRepositoryImpl"/>

    <!-- Services -->
    <bean id="artistService"
          class="com.ximena.discografia.service.ArtistServiceImpl">
        <constructor-arg ref="artistRepository"/>
    </bean>

    <bean id="trackService"
          class="com.ximena.discografia.service.TrackServiceImpl">
        <constructor-arg ref="trackRepository"/>
        <constructor-arg ref="artistRepository"/>
    </bean>

    <!-- Data initializer -->
    <bean class="com.ximena.discografia.init.DataInitializer">
        <constructor-arg ref="artistRepository"/>
        <constructor-arg ref="trackRepository"/>
    </bean>

</beans>